<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 330.3 kB/s eta 0:00:19
     ---------------------------------------- 0.0/6.0 MB 330.3 kB/s eta 0:00:19
     ---------------------------------------- 0.0/6.0 MB 245.8 kB/s eta 0:00:25
      --------------------------------------- 0.1/6.0 MB 459.5 kB/s eta 0:00:13
     - -------------------------------------- 0.2/6.0 MB 700.2 kB/s eta 0:00:09
     - -------------------------------------- 0.2/6.0 MB 787.7 kB/s eta 0:00:08
     - -------------------------------------- 0.3/6.0 MB 842.9 kB/s eta 0:00:07
     -- ------------------------------------- 0.3/6.0 MB 925.5 kB/s eta 0:00:07
     -- ------------------------------------- 0.4/6.0 MB 897.8 kB/s eta 0:00:07
     --- ------------------------------------ 0.5/6.0 MB 972.0 kB/s eta 0:00:06
     --- ------------------------------------ 0.5/6.0 MB 934.5 kB/s eta 0:00:06
     ---- ----------------------------------- 0.6/6.0 MB 1.1 MB/s eta 0:00:05
     ---- ----------------------------------- 0.6/6.0 MB 1.1 MB/s eta 0:00:05
     ----- ---------------------------------- 0.7/6.0 MB 1.2 MB/s eta 0:00:05
     ----- ---------------------------------- 0.7/6.0 MB 1.2 MB/s eta 0:00:05
     ------ --------------------------------- 0.9/6.0 MB 1.2 MB/s eta 0:00:05
     ------ --------------------------------- 0.9/6.0 MB 1.2 MB/s eta 0:00:05
     ------- -------------------------------- 1.1/6.0 MB 1.3 MB/s eta 0:00:04
     ------- -------------------------------- 1.1/6.0 MB 1.3 MB/s eta 0:00:04
     ------- -------------------------------- 1.2/6.0 MB 1.3 MB/s eta 0:00:04
     -------- ------------------------------- 1.3/6.0 MB 1.3 MB/s eta 0:00:04
     -------- ------------------------------- 1.3/6.0 MB 1.3 MB/s eta 0:00:04
     -------- ------------------------------- 1.3/6.0 MB 1.3 MB/s eta 0:00:04
     -------- ------------------------------- 1.3/6.0 MB 1.3 MB/s eta 0:00:04
     --------- ------------------------------ 1.4/6.0 MB 1.3 MB/s eta 0:00:04
     --------- ------------------------------ 1.5/6.0 MB 1.2 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/6.0 MB 1.2 MB/s eta 0:00:04
     ---------- ----------------------------- 1.6/6.0 MB 1.2 MB/s eta 0:00:04
     ----------- ---------------------------- 1.8/6.0 MB 1.3 MB/s eta 0:00:04
     ------------ --------------------------- 1.8/6.0 MB 1.3 MB/s eta 0:00:04
     ------------ --------------------------- 1.9/6.0 MB 1.3 MB/s eta 0:00:04
     ------------- -------------------------- 2.0/6.0 MB 1.4 MB/s eta 0:00:03
     ------------- -------------------------- 2.0/6.0 MB 1.4 MB/s eta 0:00:03
     -------------- ------------------------- 2.2/6.0 MB 1.4 MB/s eta 0:00:03
     -------------- ------------------------- 2.2/6.0 MB 1.4 MB/s eta 0:00:03
     --------------- ------------------------ 2.2/6.0 MB 1.3 MB/s eta 0:00:03
     --------------- ------------------------ 2.2/6.0 MB 1.3 MB/s eta 0:00:03
     ---------------- ----------------------- 2.5/6.0 MB 1.4 MB/s eta 0:00:03
     ---------------- ----------------------- 2.5/6.0 MB 1.4 MB/s eta 0:00:03
     ---------------- ----------------------- 2.5/6.0 MB 1.4 MB/s eta 0:00:03
     ----------------- ---------------------- 2.6/6.0 MB 1.4 MB/s eta 0:00:03
     ------------------ --------------------- 2.7/6.0 MB 1.4 MB/s eta 0:00:03
     ------------------- -------------------- 2.9/6.0 MB 1.4 MB/s eta 0:00:03
     ------------------- -------------------- 2.9/6.0 MB 1.4 MB/s eta 0:00:03
     -------------------- ------------------- 3.0/6.0 MB 1.4 MB/s eta 0:00:03
     -------------------- ------------------- 3.1/6.0 MB 1.5 MB/s eta 0:00:02
     --------------------- ------------------ 3.2/6.0 MB 1.5 MB/s eta 0:00:02
     --------------------- ------------------ 3.2/6.0 MB 1.5 MB/s eta 0:00:02
     ---------------------- ----------------- 3.3/6.0 MB 1.4 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 1.5 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 1.5 MB/s eta 0:00:02
     ------------------------- -------------- 3.8/6.0 MB 1.5 MB/s eta 0:00:02
     -------------------------- ------------- 3.9/6.0 MB 1.5 MB/s eta 0:00:02
     -------------------------- ------------- 3.9/6.0 MB 1.5 MB/s eta 0:00:02
     --------------------------- ------------ 4.1/6.0 MB 1.5 MB/s eta 0:00:02
     --------------------------- ------------ 4.1/6.0 MB 1.5 MB/s eta 0:00:02
     ---------------------------- ----------- 4.3/6.0 MB 1.5 MB/s eta 0:00:02
     ----------------------------- ---------- 4.4/6.0 MB 1.5 MB/s eta 0:00:02
     ----------------------------- ---------- 4.5/6.0 MB 1.5 MB/s eta 0:00:01
     ------------------------------ --------- 4.5/6.0 MB 1.6 MB/s eta 0:00:01
     ------------------------------- -------- 4.6/6.0 MB 1.6 MB/s eta 0:00:01
     ------------------------------- -------- 4.8/6.0 MB 1.6 MB/s eta 0:00:01
     -------------------------------- ------- 4.8/6.0 MB 1.6 MB/s eta 0:00:01
     --------------------------------- ------ 4.9/6.0 MB 1.6 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------- ----- 5.1/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------- ----- 5.2/6.0 MB 1.6 MB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 1.6 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 1.6 MB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 1.6 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 1.6 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------  5.8/6.0 MB 1.7 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 1.6 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=9c4deb3d72e4a0762d7a0b4a6e168c56e70149e50df141fc13d513fb830d6647
  Stored in directory: c:\users\huy\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.25
    Uninstalling SQLAlchemy-2.0.25:
      Successfully uninstalled SQLAlchemy-2.0.25
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\huy\anaconda3\lib\site-packages (from ipython-sql) (8.20.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.32-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\huy\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\huy\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\huy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\huy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\huy\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\huy\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\huy\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\huy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\huy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\huy\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.32-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 50.4 kB/s eta 0:00:41
    --------------------------------------- 0.0/2.1 MB 50.4 kB/s eta 0:00:41
    --------------------------------------- 0.0/2.1 MB 50.4 kB/s eta 0:00:41
    --------------------------------------- 0.0/2.1 MB 50.4 kB/s eta 0:00:41
    --------------------------------------- 0.0/2.1 MB 50.4 kB/s eta 0:00:41
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
    --------------------------------------- 0.0/2.1 MB 46.8 kB/s eta 0:00:44
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 56.5 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 49.8 kB/s eta 0:00:41
   - -------------------------------------- 0.1/2.1 MB 49.8 kB/s eta 0:00:41
   - -------------------------------------- 0.1/2.1 MB 49.8 kB/s eta 0:00:41
   - -------------------------------------- 0.1/2.1 MB 49.8 kB/s eta 0:00:41
   - -------------------------------------- 0.1/2.1 MB 49.8 kB/s eta 0:00:41
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 55.8 kB/s eta 0:00:36
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   - -------------------------------------- 0.1/2.1 MB 50.4 kB/s eta 0:00:40
   -- ------------------------------------- 0.1/2.1 MB 54.2 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 54.2 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 54.2 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 54.2 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 54.2 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.1/2.1 MB 52.8 kB/s eta 0:00:37
   -- ------------------------------------- 0.2/2.1 MB 54.0 kB/s eta 0:00:36
   -- ------------------------------------- 0.2/2.1 MB 54.0 kB/s eta 0:00:36
   -- ------------------------------------- 0.2/2.1 MB 54.0 kB/s eta 0:00:36
   -- ------------------------------------- 0.2/2.1 MB 54.0 kB/s eta 0:00:36
   -- ------------------------------------- 0.2/2.1 MB 54.0 kB/s eta 0:00:36
   --- ------------------------------------ 0.2/2.1 MB 56.7 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.7 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.7 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.7 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.7 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.3 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.3 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.3 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 56.3 kB/s eta 0:00:34
   --- ------------------------------------ 0.2/2.1 MB 58.7 kB/s eta 0:00:33
   --- ------------------------------------ 0.2/2.1 MB 58.7 kB/s eta 0:00:33
   --- ------------------------------------ 0.2/2.1 MB 58.7 kB/s eta 0:00:33
   --- ------------------------------------ 0.2/2.1 MB 58.7 kB/s eta 0:00:33
   --- ------------------------------------ 0.2/2.1 MB 58.7 kB/s eta 0:00:33
   ---- ----------------------------------- 0.2/2.1 MB 58.2 kB/s eta 0:00:33
   ---- ----------------------------------- 0.2/2.1 MB 58.2 kB/s eta 0:00:33
   ---- ----------------------------------- 0.2/2.1 MB 58.2 kB/s eta 0:00:33
   ---- ----------------------------------- 0.2/2.1 MB 58.2 kB/s eta 0:00:33
   ---- ----------------------------------- 0.2/2.1 MB 60.8 kB/s eta 0:00:31
   ---- ----------------------------------- 0.2/2.1 MB 60.8 kB/s eta 0:00:31
   ---- ----------------------------------- 0.2/2.1 MB 60.8 kB/s eta 0:00:31
   ---- ----------------------------------- 0.2/2.1 MB 60.8 kB/s eta 0:00:31
   ---- ----------------------------------- 0.3/2.1 MB 63.2 kB/s eta 0:00:29
   ---- ----------------------------------- 0.3/2.1 MB 63.2 kB/s eta 0:00:29
   ---- ----------------------------------- 0.3/2.1 MB 63.2 kB/s eta 0:00:29
   ---- ----------------------------------- 0.3/2.1 MB 63.2 kB/s eta 0:00:29
   ----- ---------------------------------- 0.3/2.1 MB 62.8 kB/s eta 0:00:29
   ----- ---------------------------------- 0.3/2.1 MB 62.8 kB/s eta 0:00:29
   ----- ---------------------------------- 0.3/2.1 MB 62.8 kB/s eta 0:00:29
   ----- ---------------------------------- 0.3/2.1 MB 65.3 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.3 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.3 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.3 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.1 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.1 kB/s eta 0:00:28
   ----- ---------------------------------- 0.3/2.1 MB 65.1 kB/s eta 0:00:28
   ------ --------------------------------- 0.3/2.1 MB 67.6 kB/s eta 0:00:27
   ------ --------------------------------- 0.3/2.1 MB 67.6 kB/s eta 0:00:27
   ------ --------------------------------- 0.3/2.1 MB 67.6 kB/s eta 0:00:27
   ------ --------------------------------- 0.3/2.1 MB 67.6 kB/s eta 0:00:27
   ------ --------------------------------- 0.3/2.1 MB 69.4 kB/s eta 0:00:26
   ------ --------------------------------- 0.3/2.1 MB 69.4 kB/s eta 0:00:26
   ------ --------------------------------- 0.3/2.1 MB 70.0 kB/s eta 0:00:25
   ------ --------------------------------- 0.3/2.1 MB 70.0 kB/s eta 0:00:25
   ------ --------------------------------- 0.3/2.1 MB 70.0 kB/s eta 0:00:25
   ------ --------------------------------- 0.3/2.1 MB 70.0 kB/s eta 0:00:25
   ------- -------------------------------- 0.4/2.1 MB 71.7 kB/s eta 0:00:24
   ------- -------------------------------- 0.4/2.1 MB 71.7 kB/s eta 0:00:24
   ------- -------------------------------- 0.4/2.1 MB 72.4 kB/s eta 0:00:24
   ------- -------------------------------- 0.4/2.1 MB 72.4 kB/s eta 0:00:24
   ------- -------------------------------- 0.4/2.1 MB 74.6 kB/s eta 0:00:23
   ------- -------------------------------- 0.4/2.1 MB 74.6 kB/s eta 0:00:23
   -------- ------------------------------- 0.4/2.1 MB 77.1 kB/s eta 0:00:22
   -------- ------------------------------- 0.4/2.1 MB 77.1 kB/s eta 0:00:22
   -------- ------------------------------- 0.4/2.1 MB 77.7 kB/s eta 0:00:22
   -------- ------------------------------- 0.4/2.1 MB 77.7 kB/s eta 0:00:22
   -------- ------------------------------- 0.4/2.1 MB 77.7 kB/s eta 0:00:22
   -------- ------------------------------- 0.5/2.1 MB 79.8 kB/s eta 0:00:21
   -------- ------------------------------- 0.5/2.1 MB 79.8 kB/s eta 0:00:21
   -------- ------------------------------- 0.5/2.1 MB 80.3 kB/s eta 0:00:21
   -------- ------------------------------- 0.5/2.1 MB 80.3 kB/s eta 0:00:21
   --------- ------------------------------ 0.5/2.1 MB 82.4 kB/s eta 0:00:20
   --------- ------------------------------ 0.5/2.1 MB 85.7 kB/s eta 0:00:19
   --------- ------------------------------ 0.5/2.1 MB 85.7 kB/s eta 0:00:19
   --------- ------------------------------ 0.5/2.1 MB 85.9 kB/s eta 0:00:19
   --------- ------------------------------ 0.5/2.1 MB 85.9 kB/s eta 0:00:19
   ---------- ----------------------------- 0.5/2.1 MB 87.9 kB/s eta 0:00:18
   ---------- ----------------------------- 0.5/2.1 MB 89.0 kB/s eta 0:00:18
   ---------- ----------------------------- 0.6/2.1 MB 91.7 kB/s eta 0:00:17
   ---------- ----------------------------- 0.6/2.1 MB 91.7 kB/s eta 0:00:17
   ----------- ---------------------------- 0.6/2.1 MB 93.4 kB/s eta 0:00:17
   ----------- ---------------------------- 0.6/2.1 MB 94.6 kB/s eta 0:00:16
   ----------- ---------------------------- 0.6/2.1 MB 94.6 kB/s eta 0:00:16
   ----------- ---------------------------- 0.6/2.1 MB 96.4 kB/s eta 0:00:16
   ----------- ---------------------------- 0.6/2.1 MB 97.1 kB/s eta 0:00:16
   ------------ --------------------------- 0.6/2.1 MB 99.8 kB/s eta 0:00:15
   ------------ --------------------------- 0.7/2.1 MB 101.8 kB/s eta 0:00:14
   ------------ --------------------------- 0.7/2.1 MB 103.1 kB/s eta 0:00:14
   ------------ --------------------------- 0.7/2.1 MB 103.1 kB/s eta 0:00:14
   ------------- -------------------------- 0.7/2.1 MB 106.1 kB/s eta 0:00:13
   ------------- -------------------------- 0.7/2.1 MB 106.1 kB/s eta 0:00:13
   -------------- ------------------------- 0.7/2.1 MB 109.5 kB/s eta 0:00:13
   -------------- ------------------------- 0.7/2.1 MB 110.5 kB/s eta 0:00:13
   -------------- ------------------------- 0.8/2.1 MB 112.5 kB/s eta 0:00:12
   --------------- ------------------------ 0.8/2.1 MB 116.0 kB/s eta 0:00:12
   --------------- ------------------------ 0.8/2.1 MB 116.0 kB/s eta 0:00:12
   --------------- ------------------------ 0.8/2.1 MB 117.4 kB/s eta 0:00:11
   --------------- ------------------------ 0.8/2.1 MB 118.1 kB/s eta 0:00:11
   ---------------- ----------------------- 0.8/2.1 MB 120.5 kB/s eta 0:00:11
   ---------------- ----------------------- 0.9/2.1 MB 121.4 kB/s eta 0:00:11
   ---------------- ----------------------- 0.9/2.1 MB 123.5 kB/s eta 0:00:10
   ----------------- ---------------------- 0.9/2.1 MB 125.6 kB/s eta 0:00:10
   ----------------- ---------------------- 0.9/2.1 MB 128.5 kB/s eta 0:00:09
   ------------------ --------------------- 0.9/2.1 MB 129.4 kB/s eta 0:00:09
   ------------------ --------------------- 1.0/2.1 MB 133.6 kB/s eta 0:00:09
   ------------------- -------------------- 1.0/2.1 MB 134.4 kB/s eta 0:00:09
   ------------------- -------------------- 1.0/2.1 MB 136.4 kB/s eta 0:00:08
   ------------------- -------------------- 1.0/2.1 MB 137.2 kB/s eta 0:00:08
   -------------------- ------------------- 1.0/2.1 MB 138.8 kB/s eta 0:00:08
   -------------------- ------------------- 1.1/2.1 MB 142.0 kB/s eta 0:00:08
   --------------------- ------------------ 1.1/2.1 MB 143.8 kB/s eta 0:00:07
   --------------------- ------------------ 1.1/2.1 MB 147.0 kB/s eta 0:00:07
   ---------------------- ----------------- 1.1/2.1 MB 149.1 kB/s eta 0:00:07
   ---------------------- ----------------- 1.2/2.1 MB 151.8 kB/s eta 0:00:06
   ---------------------- ----------------- 1.2/2.1 MB 152.9 kB/s eta 0:00:06
   ----------------------- ---------------- 1.2/2.1 MB 156.9 kB/s eta 0:00:06
   ------------------------ --------------- 1.3/2.1 MB 159.9 kB/s eta 0:00:06
   ------------------------ --------------- 1.3/2.1 MB 162.5 kB/s eta 0:00:05
   ------------------------- -------------- 1.3/2.1 MB 165.5 kB/s eta 0:00:05
   ------------------------- -------------- 1.3/2.1 MB 167.0 kB/s eta 0:00:05
   -------------------------- ------------- 1.4/2.1 MB 169.9 kB/s eta 0:00:05
   -------------------------- ------------- 1.4/2.1 MB 172.7 kB/s eta 0:00:04
   --------------------------- ------------ 1.4/2.1 MB 175.5 kB/s eta 0:00:04
   --------------------------- ------------ 1.5/2.1 MB 177.7 kB/s eta 0:00:04
   ---------------------------- ----------- 1.5/2.1 MB 179.8 kB/s eta 0:00:04
   ----------------------------- ---------- 1.5/2.1 MB 182.5 kB/s eta 0:00:04
   ----------------------------- ---------- 1.6/2.1 MB 186.4 kB/s eta 0:00:03
   ------------------------------ --------- 1.6/2.1 MB 189.0 kB/s eta 0:00:03
   ------------------------------- -------- 1.6/2.1 MB 192.0 kB/s eta 0:00:03
   ------------------------------- -------- 1.6/2.1 MB 193.0 kB/s eta 0:00:03
   -------------------------------- ------- 1.7/2.1 MB 195.9 kB/s eta 0:00:03
   -------------------------------- ------- 1.7/2.1 MB 198.4 kB/s eta 0:00:02
   --------------------------------- ------ 1.7/2.1 MB 200.5 kB/s eta 0:00:02
   --------------------------------- ------ 1.8/2.1 MB 203.8 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 207.4 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 207.8 kB/s eta 0:00:02
   ----------------------------------- ---- 1.8/2.1 MB 209.9 kB/s eta 0:00:02
   ------------------------------------ --- 1.9/2.1 MB 214.2 kB/s eta 0:00:01
   ------------------------------------ --- 1.9/2.1 MB 216.5 kB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 223.1 kB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 228.0 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 228.7 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 230.1 kB/s eta 0:00:00
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.2 kB ? eta -:--:--
   --------------------------- ------------ 30.7/44.2 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 44.2/44.2 kB 547.0 kB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.32 sqlparse-0.5.1

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
%sql SELECT DISTINCT LAUNCH_SITE as "Launch_Sites" FROM SPACEXTBL;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [13]:
%sql SELECT * FROM SPACEXTBL WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [14]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS 'Total payload mass' FROM SPACEXTBL WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [16]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS 'Average payload mass' FROM SPACEXTBL WHERE Booster_Version LIKE 'F9 v1.1%';

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [23]:
%sql SELECT MIN(Date) FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [24]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
%sql SELECT Mission_Outcome, COUNT(Mission_Outcome) AS Total FROM SPACEXTBL GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [28]:
%sql SELECT Booster_Version, PAYLOAD_MASS__KG_ FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2 ', 15600),
 ('F9 B5 B1058.3 ', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7 ', 15600)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [29]:
%sql SELECT substr(Date, 6,2) AS month_names, Landing_Outcome, Booster_Version, Launch_Site	FROM SPACEXTBL WHERE substr(Date,0,5)='2015' AND Landing_Outcome = 'Failure (drone ship)'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [36]:
%sql SELECT Landing_Outcome, COUNT(Landing_Outcome) as Count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY count DESC

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>